## list 
is mutable and allow duplicate values
 store multiple items in a single variable 
 mixed ddatatypes values can be stored
 list have elements not characters

In [2]:
##list of strings
list1=["nilesh","mayank","aman","rafat","ilma"]

## list of numbers
list2=[1,45,32,56,23,87,90]

## mixed data list
list3=["ravi",23,45,67,54,"raveena"]

## nested list
list4=[[1,2,3,4],[3,5,67,53],[34,56]]

In [6]:
list1=[2,3,5,"preeti",23,56,"rafat",78,87,98]
print("list1=",list1)
print("list1[0]=",list1[0])
print("list1[1]=",list1[1])
print("list1[-4]=",list1[-4])
print("list1[-6]=",list1[-6])

list1= [2, 3, 5, 'preeti', 23, 56, 'rafat', 78, 87, 98]
list1[0]= 2
list1[1]= 3
list1[-4]= rafat
list1[-6]= 23

In [9]:
l=[12,45,43,46,76,53,68,98,74,55,76,87]
print("the list from 0 to 4",l[:5])
print("the list from 4 to 6",l[4:7])
print("the list from -5 to 0",l[:-5])
print("the list from 0-7to last,",l[-7:])
slice=l[:-7]
print(slice)

the list from 0 to 4 [12, 45, 43, 46, 76]
the list from 4 to 6 [76, 53, 68]
the list from -5 to 0 [12, 45, 43, 46, 76, 53, 68]
the list from 0-7to last, [53, 68, 98, 74, 55, 76, 87]
[12, 45, 43, 46, 76]

In [22]:
literature=["the sky","heaven","aparajita","merchant of venice","romeo juliet","blue bead",
"bangel seller","daffodils"]
##first three books
p=literature[:3]
print("p=",p)

## last 3 books
literature[-3:]

p= ['the sky', 'heaven', 'aparajita']

['blue bead', 'bangel seller', 'daffodils']

## list have total 11 functions
append()=adds an item in the list
extend=adds two list
insert()=adds an item at a specified position
sort()=sort the list
remove()=removes the item with the specified value
reverse()=reverse the order of the list
count()=returns the number of items with the specified value
index()=returns the index of the first element with the specified value
copy()=returns a copy of the list
clear()=remove all the elemts from the list
pop()=removes the elements from the specified position->list.pop() and list.pop(index)

In [90]:

##append()
fruits=[]
fruits.append("apple")
fruits.append("mango")
fruits.append("banana")
fruits.append("grapes")
print("fruits=",fruits)

fruits= ['apple', 'mango', 'banana', 'grapes']

In [25]:
literature.append("Anamika")
literature.append("gitanjali")
print(literature)

['the sky', 'heaven', 'aparajita', 'merchant of venice', 'romeo juliet', 'blue bead', 'bangel seller', 'daffodils', 'Anamika', 'gitanjali', 'Anamika', 'gitanjali']

In [29]:
## insert()
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.insert(1,"orange")
fruits.insert(-2,"guava")
print(fruits)
fruits.insert(100,"cherry") ## unfeasible index,will be addedd to the list
print(fruits)

['apple', 'orange', 'mango', 'guava', 'banana', 'grapes']
['apple', 'orange', 'mango', 'guava', 'banana', 'grapes', 'cherry']

In [43]:
## extend()

fruits= ['apple', 'mango', 'banana', 'grapes']
dryfruits=['almonds','cashew','raisin','coconut']
fruits.extend(dryfruits) ## duplicatio is done how many times we run the program
print("fruits=",fruits)

fruits= ['apple', 'mango', 'banana', 'grapes', 'almonds', 'cashew', 'raisin', 'coconut']

In [45]:
## sort() sort only same types of data and firstly lowercase and then uppercase letters
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.sort() ## sorting is done in alphabetically order
fruits

['mango', 'grapes', 'banana', 'apple']

In [49]:
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.sort(reverse=True) ## alphabetical sorting
print(fruits)

['mango', 'grapes', 'banana', 'apple']

In [55]:
x=[1,2,2,3,3,2,2,2,2,2,5,5,5,11,1]
x.sort()
print(x)

[1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 5, 5, 5, 11]

In [53]:
if 1 in x:
    x.remove(1)
print(x)   ## run multiple times one time remove only one single elemnt
if 4 in x:
    x.remove(4)
print(x)

[2, 2, 2, 2, 2, 2, 2, 3, 3, 5, 5, 5, 11]
[2, 2, 2, 2, 2, 2, 2, 3, 3, 5, 5, 5, 11]

In [57]:
x.remove(3)

[1, 1, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 11]

In [60]:
x.reverse()## one time reverse the list and another time reverse the list to the oprisinal position
print(x)

[1, 1, 2, 2, 2, 2, 2, 2, 2, 5, 5, 5, 11]

In [71]:
x=[1,2,2,3,3,2,2,2,2,2,5,5,5,11]
x[::-1]## reverse the list
x## it only reverse the list

[1, 2, 2, 3, 3, 2, 2, 2, 2, 2, 5, 5, 5, 11]

In [72]:
## list()
list=[1,1,2,3,4,5,6,4,3,2,1,2,3,4,5,6,7,1,1,1,1,1,1,1,3,3,3,3,4,4,4,2,2,2,2]
list.count(1)

10

In [73]:
## index()
index()
literature=["the sky","heaven","aparajita","merchant of venice","romeo juliet","blue bead",
"bangel seller","daffodils"]
literature.index("romeo juliet")

4

In [76]:
p=literature[literature.index("aparajita"):] ## it gives the list from the aparajita to the last
print("literature",p)
q=literature[literature.index("aparajita"):literature.index("blue bead")]  
print("literature",q)

literature ['aparajita', 'merchant of venice', 'romeo juliet', 'blue bead', 'bangel seller', 'daffodils']
literature ['aparajita', 'merchant of venice', 'romeo juliet']

In [78]:
## copy()
fruits= ['apple', 'mango', 'banana', 'grapes']
dup_fruits=fruits.copy()
print(dup_fruits)

['apple', 'mango', 'banana', 'grapes']

In [79]:
## clear()
fruits.clear()
fruits

[]

In [85]:
## pop()
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.pop(2)
## popped out the element at the index 2

'banana'

In [86]:
print(fruits)

['apple', 'mango', 'grapes']

In [88]:
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.pop()## when no index is given it automatically removes the last elemnt from the list

'grapes'

In [89]:
print(fruits)

['apple', 'mango', 'banana']