## list 
is mutable and allow duplicate values
 store multiple items in a single variable 
 mixed ddatatypes values can be stored
 list have elements not characters

In [ ]:
##list of strings
list1=["nilesh","mayank","aman","rafat","ilma"]

## list of numbers
list2=[1,45,32,56,23,87,90]

## mixed data list
list3=["ravi",23,45,67,54,"raveena"]

## nested list
list4=[[1,2,3,4],[3,5,67,53],[34,56]]

In [ ]:
list1=[2,3,5,"preeti",23,56,"rafat",78,87,98]
print("list1=",list1)
print("list1[0]=",list1[0])
print("list1[1]=",list1[1])
print("list1[-4]=",list1[-4])
print("list1[-6]=",list1[-6])

In [ ]:
l=[12,45,43,46,76,53,68,98,74,55,76,87]
print("the list from 0 to 4",l[:5])
print("the list from 4 to 6",l[4:7])
print("the list from -5 to 0",l[:-5])
print("the list from 0-7to last,",l[-7:])
slice=l[:-7]
print(slice)

In [ ]:
literature=["the sky","heaven","aparajita","merchant of venice","romeo juliet","blue bead",
"bangel seller","daffodils"]
##first three books
p=literature[:3]
print("p=",p)

## last 3 books
literature[-3:]

## list have total 11 functions
append()=adds an item in the list
extend=adds two list
insert()=adds an item at a specified position
sort()=sort the list
remove()=removes the item with the specified value
reverse()=reverse the order of the list
count()=returns the number of items with the specified value
index()=returns the index of the first element with the specified value
copy()=returns a copy of the list
clear()=remove all the elemts from the list
pop()=removes the elements from the specified position->list.pop() and list.pop(index)

In [ ]:

##append()
fruits=[]
fruits.append("apple")
fruits.append("mango")
fruits.append("banana")
fruits.append("grapes")
print("fruits=",fruits)

In [ ]:
literature.append("Anamika")
literature.append("gitanjali")
print(literature)

In [ ]:
## insert()
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.insert(1,"orange")
fruits.insert(-2,"guava")
print(fruits)
fruits.insert(100,"cherry") ## unfeasible index,will be addedd to the list
print(fruits)

In [ ]:
## extend()

fruits= ['apple', 'mango', 'banana', 'grapes']
dryfruits=['almonds','cashew','raisin','coconut']
fruits.extend(dryfruits) ## duplicatio is done how many times we run the program
print("fruits=",fruits)

In [ ]:
## sort() sort only same types of data and firstly lowercase and then uppercase letters
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.sort() ## sorting is done in alphabetically order
fruits

In [ ]:
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.sort(reverse=True) ## alphabetical sorting
print(fruits)

In [ ]:
x=[1,2,2,3,3,2,2,2,2,2,5,5,5,11,1]
x.sort()
print(x)

In [ ]:
if 1 in x:
    x.remove(1)
print(x)   ## run multiple times one time remove only one single elemnt
if 4 in x:
    x.remove(4)
print(x)

In [ ]:
x.remove(3)

In [ ]:
x.reverse()## one time reverse the list and another time reverse the list to the oprisinal position
print(x)

In [ ]:
x=[1,2,2,3,3,2,2,2,2,2,5,5,5,11]
x[::-1]## reverse the list
x## it only reverse the list

In [ ]:
## list()
list=[1,1,2,3,4,5,6,4,3,2,1,2,3,4,5,6,7,1,1,1,1,1,1,1,3,3,3,3,4,4,4,2,2,2,2]
list.count(1)

In [ ]:
## index()
index()
literature=["the sky","heaven","aparajita","merchant of venice","romeo juliet","blue bead",
"bangel seller","daffodils"]
literature.index("romeo juliet")

In [ ]:
p=literature[literature.index("aparajita"):] ## it gives the list from the aparajita to the last
print("literature",p)
q=literature[literature.index("aparajita"):literature.index("blue bead")]  
print("literature",q)

In [ ]:
## copy()
fruits= ['apple', 'mango', 'banana', 'grapes']
dup_fruits=fruits.copy()
print(dup_fruits)

In [ ]:
## clear()
fruits.clear()
fruits

In [ ]:
## pop()
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.pop(2)
## popped out the element at the index 2

In [ ]:
print(fruits)

In [ ]:
fruits= ['apple', 'mango', 'banana', 'grapes']
fruits.pop()## when no index is given it automatically removes the last elemnt from the list

In [ ]:
print(fruits)

wap to create list of five items given by user

In [ ]:
ex=[]
for i in range(5):
    val=int(input(f"enter 5 intergers {i+1}:"))
    ex.append(val)
print(ex)

wap to display sum of list

In [ ]:
ex=[]
total=0
for i in range(5):
    val=int(input(f"enter 5 intergers {i+1}:"))
    ex.append(val)
print(ex)
for i in ex:
    total+=i
print(total)

mean,mode,median,max ,min

In [ ]:

x=[2,4,5,7,8,6]
mean=sum(x)/len(x)
print(mean)
x.sort()
if len(x)%2==0:
  median=(x[len(x)//2]+x[len(x)//2-1])
else:
    median=x[len(x)//2]
print(median)
print(min(x))
print(max(x))

In [17]:
## add two list elements  element wise and produce a new list
x=[1,2,3]
y=[1,2,3]
n=[] ## list should be empty
for i,j in zip(x,y):#simultaneously use more than two ierables in single loop
     n.append(i+j)
print(n)

[2, 4, 6]

In [22]:
## create a list where every element is a sqr 
## of elements from an existing list
x=[4,5,6,7]
y=[]
for i in x:
    y.append(i**2)
print(y)

[16, 25, 36, 49]

In [36]:
## create a list where every odd element is a sqr
x=[3,4,5,6,7]
y=[]
for i in x:
  if i%2!=0:
     y.append(i**2)
print(y)

[9, 25, 49]

In [57]:
## extract first letter
words=["united states","project manager","software engineer","system software","markk up","hook up"]
a=[]
for item in words:
     print(item)
     items=item.split()##now split
     print(items) ## each item is a seperate list now
     s=""
     for t in items:
       s+=t[0] ## it takes the valye at 0 index
     a.append(s)
print(a)

united states
project manager
software engineer
system software
markk up
hook up
['us', 'pm', 'se', 'ss', 'mu', 'hu']

In [1]:
words=["united states","project manager","software engineer","system software","markk up","hook up"]
a=[]
for items in words:
     s=""
     for t in items.split():
       s+=t[0] ## it takes the valye at 0 index
     a.append(s)
print(a)

['us', 'pm', 'se', 'ss', 'mu', 'hu']

In [19]:
## take a list from user in one line of input and then
## remove all the non numeric values from the list 
## and then display the cubes of numbers from the list
a=input("enter your string seperated by comma")
list1=a.split()
print("list :",list1)
b=[]
c=[]
for i in list1:  
    if i.isnumeric():
      b.append(int(i))
print(b) 
for i in b:
    c.append(i**3) 
print(c)

list : ['23', 'erf', '3', 'frtg', '4', 'gtd', '5']
[True, False, True, False, True, False, True]
[1, 0, 1, 0, 1, 0, 1]

## list comprehension
is  way to create a list from existing list
using one line of expression
*syntax:

newlist=[expression for item in old list ]

*with condition syntax

newlist=[expression for item in old list if condition]

In [16]:
## old procedure
x=[2,4,5,7,4,2,5]
a=[]
for i in x:
    a.append(i**2)
print(a)

[4, 16, 25, 49, 16, 4, 25]

In [17]:
## list comprehension
a=[i**2 for i in x]
print(a)

[4, 16, 25, 49, 16, 4, 25]

In [20]:
## create a list where every odd element is a sqr
x=[3,4,5,6,7]
y=[]
y=[i**2 for i in x if i%2!=0]
print(y)

[9, 25, 49]

In [1]:
## take a list from user in one line of input and then
## remove all the non numeric values from the list 
## and then display the cubes of numbers from the list
a=input("enter your string seperated by comma")
list1=a.split()
print("list :",list1)
b=[]
c=[]
b=[i for i in list1.split() if i.isnumeric()] 
print(b) 
c=[j**3 for j in b] 
print(c)

list : ['hju8']

AttributeError: 'list' object has no attribute 'split'

## tuple
similar to list 
not mutable and cannot be changed during runtime

we use paranthesis

indexing and slicing is same as before

tuples can be contatinated duplication is allowed

only two functions in ryple index nd count

In [3]:
a=(1,2,4,5)
print(a)
print(type(a))

(1, 2, 4, 5)
<class 'tuple'>

In [8]:
b=1,2,6,7 ## automatically convert it into tuple by default
for value in b:
   print(b)

(1, 2, 6, 7)
(1, 2, 6, 7)
(1, 2, 6, 7)
(1, 2, 6, 7)

In [9]:
print((1,2,3,4)+(4,5,6,7))

(1, 2, 3, 4, 4, 5, 6, 7)

In [10]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [13]:
my_tuple=("a","b","c","d",1,"a","b")
print(my_tuple.count("p"))
print(my_tuple.index(1))

0
4

In [14]:
## conver tuple into list
a1=list(a)
print(a1)

[1, 2, 4, 5]

In [16]:
## convert list into tuple
a=[1, 2, 4, 5]
val=tuple(a)
print(val)

(1, 2, 4, 5)

## sets:
unordered collection of items

every set element is unique(no duplicacy)

can perform all mathematical set operations using {}

creating an empty set is bit tricky

In [19]:
s={1,2,3,4,1,3,4,5,6,7,32,7,7,8,5,43}
print(s)

{32, 1, 2, 3, 4, 5, 6, 7, 8, 43}

In [20]:
set1=set([1,2,3,4,2,3])
print(set1)

{1, 2, 3, 4}

In [14]:
my_set={1,2,[3,4]}

TypeError: unhashable type: 'list'

In [22]:
a=set()
print(type(a))

<class 'set'>

In [34]:
set2={1,2,3,4}
set2.add(9)
print(set2)

{1, 2, 3, 4, 9}

In [28]:
set2.update([2,3,7,8,9])
print(set2)
set2.update([6,7],{1,3,4,5})
print(set2)

{1, 2, 3, 4, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
set2.discard(5)
print(set2)

{1, 2, 3, 4, 6, 7, 8, 9}

In [30]:
set2.remove(6)
print(set2)

{1, 2, 3, 4, 7, 8, 9}

In [35]:
set2.pop()
print(set2)

{2, 3, 4, 9}

In [32]:
set2.clear()
print(set2)

set()

In [36]:
## union "|"
a={1,2,3,4,5}
b={1,6,7,4,3}
print(a|b)

{1, 2, 3, 4, 5, 6, 7}

In [40]:
a={3,4,5,6}
b={1,2,3,4,5,7,8,9}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [13]:
A={3,4,5,6,"c","d"}
B={1,2,3,4,5,7,8,9}
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'c', 'd'}

In [51]:
## intersection
a={3,4,5,6}
b={1,2,3,4,5,7,8,9}
print(a.intersection(b))

{3, 4, 5}

In [44]:
a={3,4,5,6}
b={1,2,3,4,5,7,8,9}
print(a&b)

{3, 4, 5}

In [53]:
## set difference
a={1,2,3,4,5,6}
b={11,12,13,1,4,15,16,2}
print(a-b)

{3, 5, 6}

In [54]:
a={1,2,3,4,5,6}
b={11,12,13,1,4,15,16,2}
print(a.difference(b))

{3, 5, 6}

In [55]:
a={"iron","comb","curler","mixer","juicer"}
b={"grinder","fridge","washing machine","iron","curler"}
print(a|b)
print(a&b)
print(a-b)

{'comb', 'mixer', 'iron', 'curler', 'grinder', 'fridge', 'juicer', 'washing machine'}
{'curler', 'iron'}
{'juicer', 'mixer', 'comb'}

In [79]:
print(a)
a=list(a)
print(a)
a=tuple(a)
print(a)## vice versa is also possible
a=set(a)
print(a)

{'iron', 'comb', 'juicer', 'mixer', 'curler'}
['iron', 'comb', 'juicer', 'mixer', 'curler']
('iron', 'comb', 'juicer', 'mixer', 'curler')
{'comb', 'mixer', 'curler', 'iron', 'juicer'}

In [80]:
a={1,2,4,5,6,3,5,2,6,7,8}
print(a)
a=list(a)
print(a)
a=tuple(a)
print(a)
a=set([1,4,7,9,10])
print(a)
b=set((4,7,8,90))## tuple to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8}
[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)
{1, 4, 7, 9, 10}
{8, 90, 4, 7}

## dictionary:
ordered collecton of items

optimised to retrieve values when the key is known

each item has a key/value pair

every data is written here is in dictionary format when open with notepad

In [74]:
dic={"name":"rafat","age":21,"course":"MCA"}
print("name:",dic['name'])
print("age:",dic.get("age"))
print(dic["address"])
print(dic.get('address'))

name: rafat
age: 21

KeyError: 'address'

In [72]:
dic["age"]=23
print(dic.get("age"))
dic["address"]="raja ji puram luckonow"
print(dic["address"])
print(dic)

23
raja ji puram luckonow
{'age': 23, 'course': 'MCA', 'address': 'raja ji puram luckonow'}

In [75]:
print(dic.pop("name"))
print(dic)

rafat
{'age': 21, 'course': 'MCA'}

In [76]:
print(dic.popitem())
print(dic)

('course', 'MCA')
{'age': 21}

In [77]:
print(dic.clear())

None

In [95]:
report={"student1":
{"name":"john",
"marks":{"maths":45,"sci":54,"eng":45}},
"student2":
{"name":"rafat",
"marks":{"maths":47,"sci":58,"eng":49}}}

In [96]:
print(report["student1"]["name"])
print(report["student1"]["marks"])
print(report["student1"]["marks"]["eng"])

john
{'maths': 45, 'sci': 54, 'eng': 45}
45

In [97]:
for i in report:
    print(i)

student1
student2

In [12]:
for k,v in report.items():
    print("student",k)
      if instance(v,dict):
         for k1,v1 in v.items():
              if instance(v1,dict):
                  for sub,narks in v1.items():
                     print(sub,marks)
                else:
                    print(v1)
     else:
         print(v)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

for the next class  install it in anaconda prompt
pip install pgzero